<nb-auth-block _ngcontent-c33="" _nghost-c34="">

  <div _ngcontent-c33="" class="links col-sm-12">
    <img _ngcontent-c33="" src="https://logosinside.com/uploads/posts/2016-07/medium/bad-robot-logo.png" width="250" height="250" />
    <br /><br />
  </div>
  <h2 _ngcontent-c33="" class="title">My Bots Pro</h2>
  <small _ngcontent-c33="" class="form-text sub-title">Sign in with Facebook to create your first bot.</small>
  <form _ngcontent-c33="" novalidate="" class="ng-pristine ng-invalid ng-touched">
    <button _ngcontent-c33="" class="btn btn-hero-info btn-block" (click)="fbLogin()">
      <i _ngcontent-c39="" class="nb-locked"></i>
      <span _ngcontent-c39="">Sign In With Facebook</span>
    </button>
  </form>
  <div _ngcontent-c33="" class="links col-sm-12">
    <small _ngcontent-c33="" class="form-text">
      <strong _ngcontent-c33="">We’ll need permissions to manage your Page’s messages in order to automate your replies.</strong>
    </small>
  </div>
</nb-auth-block>